/* body {
    font-family: Arial, sans-serif;
     display: flex; 
    justify-content: center;
    align-items: center;
     height: 100vh; 
    margin: 0;
    background-color: #f0f2f5;
} */
.container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 200px;
}
.container h2 {
    text-align: center;
    color: white;
    background-color: #2b5c83;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
}

#upload_form{
    display: block;
}

.form-group {
    margin-bottom: 15px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}
.form-group input[type="file"] {
    padding: 3px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #2b5c83;
    border: none;
    color: white;
    font-size: 26px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;

}
.form-group button:hover {
    background-color: #234a6b;
}