/* main {
    padding: 20px;
  } */
  
  .contact-info {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  .contact-info div {
    flex: 1;
    margin: 0 10px;
  }
  
  .contact-form {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
  }
  
  .contact-form h3 {
    text-align: center;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form div {
    margin-bottom: 15px;
  }
  
  .contact-form label {
    margin-bottom: 5px;
    display: block;
    font-size: 19px;
    font-weight: bold;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .contact-form textarea {
    height: 100px;
  }
  
  button {
    padding: 10px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #007a42;
  }